* {
  margin: 0;
}
body, #root {
  margin: 0;
  font-family: "Jersey 15", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(72, 48, 137), rgb(11, 78, 42));
  overflow: hidden;
  height: 100vh;
}

.Title{
    font-size: 8em;
    color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.FlexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.SearchBar {
  border-radius: 50px;
  border: 0px;
  height: 30px;
  padding-left: 15px;
  width: 20%;
  margin-bottom: 30px;
}

.CardList {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  background-color: darkcyan;
  border-radius: 20px;
  margin: 5px;
  transition: all 0.5s;
  padding: 10px;
}

.Card div > * {
    color: white;
}

.Card:hover {
  transform: scale(1.05);
}

.CardTextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
