* {
  margin: 0;
}
body,
#root {
  margin: 0;
  font-family: "Jersey 15", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(72, 48, 137), rgb(11, 78, 42));
  overflow: hidden;
  height: 100vh;
}

.Title {
  font-size: 8em;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.FlexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.SearchBar {
  border-radius: 50px;
  height: 30px;
  padding-left: 15px;
  width: 20%;
  margin-bottom: 30px;
  background: transparent;
  border: 2px solid darkcyan;
  color: white;
  font-size: 1.2em;
}

.CardList {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  position: relative;
  background-color: darkcyan;
  border-radius: 20px;
  margin: 5px;
  transition: all 0.5s;
  padding: 10px;
}

.Card div > * {
  color: white;
}

.CardIconsArea {
  position: absolute;
  right: 10px;
  display: none;
}

.CardIconsArea i {
  font-size: 25px;
  cursor: pointer;
}

.Card:hover {
  transform: scale(1.05);
  .CardIconsArea {
    display: flex;
  }
}

.CardTextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.PopupBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popup {
  padding: 20px;
  position: fixed;
  margin: auto;
  background: darkcyan;
  border-radius: 20px;
}

.Button {
  cursor: pointer;
  background: transparent;
  color: white;
  padding: 10px 20px;
  border: 5px solid rgb(11, 78, 42);
  border-radius: 40px;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  font-family: "Jersey 15", sans-serif;
}

.Warning{
  border: 5px solid rgb(204, 2, 2);
  background-color: rgb(204, 2, 2);
}
